<!DOCTYPE html>
<html lang="en" >
<head>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link rel="stylesheet" href="styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>stuffs</title>
</head>
<body ng-app="app" ng-controller="mainController" ng-cloak>

  <div id="nav" layout="row" layout-sm="column" layout-xs="column" layout-align="center center">
    <div flex="20"></div>
      <form id="searchForm" ng-submit="getSearch(selected.val(), pagesBool)">
          <md-input-container>
              <label>Search by: {{selected.display | lowercase}}</label>
              <input ng-model="title">
          </md-input-container>
      </form>
          <md-select id="selectBox" aria-label="select" ng-model="selected" ng-model-options="{trackBy: '$value.val'}">
          <md-option ng-value="thing" ng-repeat="thing in things">{{thing.display}}</md-option>
          </md-select>
      <md-button class="md-raised" type="submit" ng-click="getSearch(selected.val(), pagesBool)">Submit</md-button>
      <md-checkbox id="pagesCheck" ng-model="pagesBool">Pages?</md-checkbox>
      <md-checkbox id="postersCheck" ng-model="postersBool">Posters?</md-checkbox>
      <div flex="20"></div>
  </div>

    <div layout="row" ng-repeat="data in searchData">
      <div flex><a ng-href="http://www.imdb.com/title/{{data.imdbID}}">{{data.Title}}</a></div>
      <div flex="10">{{data.Type}}</div>
      <div flex="10">{{data.Year}}</div>
    </div>

<span ng-if="page">Page:</span>
    <span ng-repeat="item in page track by $index">
        <span ng-click="getSearch(item, true)"> {{$index+2}}</span>
    </span>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <script src="https://code.angularjs.org/1.4.8/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="controller.js"></script>
  <script src="service.js"></script>
</body>
</html>
