<!DOCTYPE html>
<html lang="en" >
<head>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <title>stuffs</title>
</head>
<body ng-app="app" ng-controller="mainController" ng-cloak>

  <form>
    <input type="text" ng-model="title" placeholder="Search..." >
    <input type="submit" ng-click="getSearch(selected())">
    <select ng-model="selected" ng-options="obj.val as obj.display for obj in things"></select>
    {{selected}}
  </form>

    <div layout="row" ng-repeat="data in searchData">
      <div flex><a ng-href="http://www.imdb.com/title/{{data.imdbID}}">{{data.Title}}</a></div>
      <div flex="10">{{data.Type}}</div>
      <div flex="10">{{data.Year}}</div>
    </div>

Page:
    <span ng-repeat="item in page track by $index">
        <span ng-click="getSearch(item)"> {{$index+2}}</span>
    </span>


  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <script src="app.js"></script>
  <script src="controller.js"></script>
  <script src="service.js"></script>
</body>
</html>
